workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        256
      ],
      "id": "1b39fad7-2fab-45a8-a989-415b3aba3617",
      "name": "Telegram Trigger",
      "webhookId": "1722d493-75e3-41a0-8e48-f9ea7cfb858c",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2fa96a71-70eb-43bb-85aa-3e9a16d7f3ea",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Хочу описать, что чувствую",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff3a71a9-b89b-4b01-b871-ad786d4e9f48",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Мне нужна помощь",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5a165814-eef6-4442-859b-3057f8eb4a01"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0c889419-3f1d-489c-ba40-c5e9de63f05e",
                    "leftValue": "={{ $json.message.reply_to_message.text }}",
                    "rightValue": "помочь",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd59bf56-8a4b-4cce-948a-9b8d60d90b5a",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Хочу получить информацию",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3547bf98-b5e7-4ae8-b70c-86d123cba155",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Контакты",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f84ca575-d911-472c-b0ff-acaf27db8b10",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Тревожная кнопка",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50b96cb2-3bad-428b-b14e-7d1091a3d0fe",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Хочу выбрать из вариантов",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "901249ab-cccd-4227-b7e5-37eb87ccc40e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Тревожное расстройство",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17f2d376-2446-4c32-a193-40785d15ea95",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Депрессия",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c0db233-b062-49b1-8d1f-f2bc3a051819",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "СДВГ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4aa75107-3fe2-4baa-9fec-8f70e05d42a3",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "РПП",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42df3100-0e2e-4ee8-922b-c02d323be7ba",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Шизофрения",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41dbd4ca-027d-4b1f-9e1a-06f02881f8e5",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Биполярное расстройство",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15805b57-cc4f-4155-95cf-cbd4c3a5a6b8",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Выбор раздела",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -256,
        32
      ],
      "id": "bc858d42-6395-444f-b1a3-7fb8398111b9",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты психологический помощник, тебе нужно понять, какое может быть расстройство у школьника по его описанию и написать ему советы. Не нужно здороваться, имя школьника -  {{ $json.message.from.first_name }}. По возможности будь краток. Где уместно используй смайлики голубого или синего цветов. Также попробуй классифицировать расстройство. Вот классы: Тревожное расстройство\nДепрессия\nСДВГ\nРПП\nШизофрения\nБиполярное расстройство. Если ты ничего не можешь сказать или посоветовать, выведи сообщение: \"контакты\". Вот сообщение школьника:\n {{ $json.message.text }}\nОтвет сформируй в формате json:\n{\n'response': *ответ школьнику*,\n'class': *твоя классификация, если нельзя определить, напиши \"не определено\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        224
      ],
      "id": "b9c589f3-9c86-455c-86e5-56370bb7ab25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        384
      ],
      "id": "513f79b6-8e2a-4c91-8c98-39c74ea24917",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6XzGbueGC3eh8CTp",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response }}",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выбор раздела",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        224
      ],
      "id": "95ecf7cb-8cce-4b0e-8984-6652661df04a",
      "name": "Send a text message3",
      "webhookId": "aeb6482f-8a39-4371-bbe1-f70b89021f70",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Привет, {{ $('Telegram Trigger').item.json.message.from.first_name }}! Меня зовут Пушок — я твой добрый пёсик, который всегда рядом, когда тебе нужно поговорить.  Ты можешь рассказать мне всё: что радует, что огорчает, что тревожит… Я не скажу никому, я просто выслушаю, обниму (мысленно!) и помогу разобраться.  Ты не один — я с тобой. 💙",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -176
      ],
      "id": "9602f032-7a37-42ab-bff8-c81d66bbbff1",
      "name": "Приветствие",
      "webhookId": "e056bd17-e36a-4336-82b0-21eb27cd9db7",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🐾 Чем могу помочь, дружок?\nЯ знаю, что в голове может быть много всего. Поэтому я предлагаю начать с того, что тебе сейчас ближе всего.\nВыбери, пожалуйста, один из разделов ниже — и я расскажу всё спокойно, по-доброму, без страшных слов",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Мне нужна помощь",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Хочу получить информацию",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Контакты",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Тревожная кнопка",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -272
      ],
      "id": "8fb60e97-4e91-40a6-af41-0635b6bb8d2c",
      "name": "Выбор раздела",
      "webhookId": "031eb4a1-a12b-4980-b2a3-8a7bb967748d",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Просить помощи – это нормально! Я здесь, чтобы выслушать тебя по-настоящему. Без оценок. Без спешки. Без «ну и что тут такого».  Выбери интересующую тебя проблему, и я расскажу тебе подробнее о ней🫂",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Хочу описать, что чувствую",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Хочу выбрать из вариантов",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выбор раздела",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -128
      ],
      "id": "b6807238-48fe-45bc-83e7-3c89e6231133",
      "name": "Ответ на мне нужна помощь",
      "webhookId": "c8e1b500-07e2-48dd-bfd9-afd14b50534b",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Напиши в следующем сообщении, что ты чувствуешь и я постараюсь помочь тебе ",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        0
      ],
      "id": "17c88622-d9d6-4413-890d-0757e0147452",
      "name": "Ответ на хочешь описать",
      "webhookId": "dc9ca7f2-d613-4ac5-befe-fa3c5c03544a",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Вот, что я могу предложить ",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Тревожное расстройство",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "=Депрессия",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "СДВГ",
                    "additionalFields": {}
                  },
                  {
                    "text": "РПП",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Шизофрения",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Биполярное расстройство",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выбор раздела",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        608
      ],
      "id": "89849f8b-32aa-4463-9b56-c115ef6ad3fd",
      "name": "Ответ на выбор из вариантов",
      "webhookId": "0a4a9221-fd6f-4b97-a8bc-731f351c4b4c",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=🐾 Пушок здесь. Ты в безопасности.\nСейчас может быть страшно, тяжело, будто всё рушится. Я понимаю. Я рядом. Давай сделаем одно маленькое упражнение — чтобы земля снова появилась под ногами.\n🌬️ Дыши со мной: «4-4-6»\nЗакрой глаза или просто посмотри вниз. Повторяй за мной:\n🔸 Вдох на 4 секунды… (1… 2… 3… 4…)\n🔸 Задержи дыхание на 4… (1… 2… 3… 4…)\n🔸 Медленно выдохни на 6… (1… 2… 3… 4… 5… 6…)\nХорошо. Повтори ещё раз\n\n\n📞 Если всё ещё тяжело — пожалуйста, поговори с кем-то 🔹 Детский телефон доверия (бесплатно, анонимно): 📞 8-800-2000-122 — психолог выслушает, поддержит, не осудит\n\n🔹 Если ты в опасности — звони: 🚨 112 или 122 — помощь приедет быстро",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выбор раздела",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        400
      ],
      "id": "b42c2d32-d2b2-438c-b479-c76809be9fd0",
      "name": "Ответ на экстренную кнопку",
      "webhookId": "ad49f95e-197a-44b7-92a6-a9f799b11a44",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Иногда разговор с Пушком — это только начало.\nИ это здорово, что ты сделал этот шаг.\nНо если тебе тяжело, важно поговорить с тем, кто может помочь по-настоящему.\n\n🏥 Детский телефон доверия\n📞 8-800-2000-122 (звонок бесплатный по всей России)\n📍 Можно звонить в любое время суток\n💬 Помогут, если:\n— тебе тревожно, грустно, одиноко\n— ты не можешь поговорить с родителями\n— ты переживаешь из-за школы, семьи, друзей\n\n🔹 Говорят взрослые психологи, которые не осуждают и не передают информацию дальше.\n🔹 Можно звонить анонимно.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        208
      ],
      "id": "b6cd0ba0-0406-4a85-b42f-b86002b661dc",
      "name": "Ответ на контакты",
      "webhookId": "f4e33a43-4397-49cb-819a-09b6dddc0f74",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🌀 Тревожное расстройство  Что это? \n\nТы часто чувствуешь сильную тревогу — даже когда всё «вроде нормально». Мысли крутятся: «А вдруг?.. А если?..» Сердце бьётся, хочется спрятаться, избегать школы, общения, новых ситуаций. Это не просто «переживания» — это сигнал, что тебе нужна поддержка.  \n\n💡 Что может помочь: \nДыши со мной: Вдох на 4 секунды → задержи на 4 → выдох на 6. Повтори 5 раз. Это успокаивает мозг. Запиши мысли: Когда тревога кричит, напиши: «Что я боюсь? Насколько это реально? Что бы я сказал другу?» Найди «якорь»: Предмет, запах, песня — что-то, что возвращает тебя в «здесь и сейчас». Поговори с взрослым, которому доверяешь — или обратись к психологу. Это не слабость. Это шаг к свободе.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        784
      ],
      "id": "c875084f-8953-4d90-8b7e-ea32c702a6af",
      "name": "Тревожное",
      "webhookId": "b5524dc4-113c-4779-89f3-f32a5e7b4ee8",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=😞 Депрессия  \n\nЧто это? \nНе просто «грусть». Это когда всё кажется серым, пустым, бессмысленным. Ты устаёшь, не хочешь вставать, общаться, даже есть. Иногда кажется, что «всё плохо, и всегда будет плохо».  \n\n💡 Что может помочь: \nЗапиши три вещи, за которые благодарен — даже если это «солнце», «чай», «песня». Не держи всё внутри. Напиши мне, другу, в дневник. Слово — уже облегчение. Обратись к специалисту. Психолог или психиатр может предложить реальную помощь — и это нормально.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        944
      ],
      "id": "69f9b9a2-5ab6-4038-8a87-73b7daf38abf",
      "name": "Депрессия",
      "webhookId": "9d5621e7-2ce1-47f4-b40d-93d21262cfab",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚡️ СДВГ (синдром дефицита внимания и гиперактивности)  \n\nЧто это? \nТы можешь быть очень энергичным, импульсивным, не сосредоточиться, терять вещи, забывать задания. Тебя ругают: «Сосредоточься!», но ты не можешь. Это не потому что ты «не стараешься» — это особенность твоего мозга.  \n\n💡 Что может помочь: \nРаздели задачи на крошечные кусочки. «Сделать уроки» → «Открыть тетрадь» → «Написать одно предложение». Используй таймер (техника «Помидора»): 25 минут — работа, 5 минут — отдых. Двигайся! Бег, прыжки, качели — движение помогает мозгу «перезагрузиться». Поговори с врачом. Иногда помогают лекарства — это не «для слабых», а инструмент, как очки для глаз.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        528
      ],
      "id": "ba433491-2bad-49e7-9a4b-c9e420f4ea1f",
      "name": "СДВГ",
      "webhookId": "f6905838-1b37-4226-8c1f-ff6727182fbb",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🔄 РПП (Расстройство пищевого поведения) \n(Например: анорексия, булимия, переедание)  \nЧто это? \nКогда еда и тело становятся источником страха, стыда, контроля. Ты можешь ограничивать себя, съедать много и потом избавляться, ненавидеть своё отражение — даже если всё «в норме».\n\n💡 Что может помочь: \nНе сравнивай себя с кем-то. У каждого тела — своя история. Ты — не фото в интернете. Ешь с кем-то. Даже если страшно — пусть рядом будет человек, которому ты доверяешь. Запиши, что чувствуешь ДО еды. Голод? Стресс? Пустота? Это поможет понять причину. Обратись к врачу и психологу. РПП лечится. Ты можешь снова быть свободным.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        720
      ],
      "id": "b58e9da3-3b84-438a-946e-7facd3e0fcab",
      "name": "РПП",
      "webhookId": "8d6e3117-e9f3-4643-93bb-eb5c47dfcaab",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🌫 Шизофрения  \nЧто это? \nИногда ты можешь слышать голоса, видеть то, чего не видят другие, или чувствовать, что мысли «не твои». Мир может казаться странным, пугающим, запутанным. Это не значит, что ты «сходит с ума» — это сигнал, что мозг перегружен.  \n\n💡 Что может помочь: \nНе молчи. Расскажи врачу или психологу — чем раньше, тем легче помочь. Избегай стресса и психоактивных веществ — они могут усилить симптомы. Создай «план на случай тревоги»: Кто поможет? Куда звонить? Что делать? Найди поддержку. Есть группы и сообщества, где люди делятся опытом — ты не один.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        928
      ],
      "id": "3e62bacc-3d4d-4fcf-a40e-38dc34f1820c",
      "name": "Шизофрения",
      "webhookId": "429b28a3-b919-4775-95c6-15915ca84066",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🌓 Биполярное расстройство  \nЧто это? \nЧередование очень высоких состояний (эйфория, энергия, бессонница) и глубоких спадов (апатия, грусть, усталость). В «подъёме» ты можешь много тратить, рисковать, говорить без остановки. В «спаде» — не вставать с кровати.   \n\n💡 Что может помочь: \nВеди дневник настроения. Записывай каждый день: как спал, как чувствовал, что происходило. Соблюдай режим сна. Недостаток сна может запустить «подъём». Не принимай решений в «подъёме». Откладывай важные шаги на потом. Прими помощь. Лекарства и терапия — не признак слабости, а способ жить полной жизнью.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        1152
      ],
      "id": "e8c8be8f-4d0c-4aa7-bee8-ed479e8150fe",
      "name": "Биполярное",
      "webhookId": "3ad12225-33c5-45e2-a17a-52c607e29808",
      "credentials": {
        "telegramApi": {
          "id": "rH0rj4kGJansAWBm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "instructions": "form a json format file from output",
        "codeGeneratedForPrompt": "form a json format file from output",
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  const output = JSON.parse(item?.json?.output);\n  return output;\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        976,
        224
      ],
      "id": "996a8c45-c585-49e1-918b-3afb0739518b",
      "name": "AI Transform"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://feebly-settled-killifish.cloudpub.ru/users/create/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $json.csrfToken }}"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $json.csrfToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tg",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "name": "name",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        -272
      ],
      "id": "87a9d14f-177d-4955-b7e3-5988618a5d77",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feebly-settled-killifish.cloudpub.ru/csrf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -224
      ],
      "id": "b7e3f5c3-d85f-4783-a677-c06b3257943e",
      "name": "get csrf",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feebly-settled-killifish.cloudpub.ru/csrf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        416
      ],
      "id": "b5c1786e-e79c-427f-a7bc-34a2bd63ad56",
      "name": "get csrf1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://feebly-settled-killifish.cloudpub.ru/userinfo/create/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $json.csrfToken }}"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $json.csrfToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tg",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "name": "disorder",
              "value": "={{ $('AI Transform').item.json.class }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        432
      ],
      "id": "0e7cdd3c-476e-42a0-8eec-2c97bdc3c6d1",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feebly-settled-killifish.cloudpub.ru/csrf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        608
      ],
      "id": "d579127d-dbce-447d-a5f7-280fb1a2e4ed",
      "name": "get csrf2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://feebly-settled-killifish.cloudpub.ru/userinfo/create/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=csrftoken={{ $json.csrfToken }}"
            },
            {
              "name": "X-CSRFToken",
              "value": "={{ $json.csrfToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tg",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "name": "disorder",
              "value": "={{ $('Switch').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        640
      ],
      "id": "7a2b6849-ba5a-446f-8927-b22b58308516",
      "name": "HTTP Request2",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ответ на хочешь описать",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ на мне нужна помощь",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Приветствие",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Ответ на контакты",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ на экстренную кнопку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ на выбор из вариантов",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Тревожное",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Депрессия",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "СДВГ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "РПП",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Шизофрения",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Биполярное",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Выбор раздела",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Приветствие": {
      "main": [
        [
          {
            "node": "get csrf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбор раздела": {
      "main": [
        []
      ]
    },
    "AI Transform": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Выбор раздела",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        [
          {
            "node": "get csrf1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get csrf": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get csrf1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "СДВГ": {
      "main": [
        [
          {
            "node": "get csrf2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get csrf2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "РПП": {
      "main": [
        [
          {
            "node": "get csrf2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Шизофрения": {
      "main": [
        [
          {
            "node": "get csrf2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тревожное": {
      "main": [
        [
          {
            "node": "get csrf2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Депрессия": {
      "main": [
        [
          {
            "node": "get csrf2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Биполярное": {
      "main": [
        [
          {
            "node": "get csrf2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2a2a279-e37f-40b5-8e84-066f3e21dde0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aea481e4538de67896cc48f972fc3d46115e6e76733a7bb196f403997b17d2d9"
  },
  "id": "S1DguYXD4UpbA6pn",
  "tags": []
}